.signin-form {
    background-color: #F7F1F9;
    height: 100%;
}

.signin-form .signin-heading {
    margin: 0;
    padding: 15px 0;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.signin-form .signin-form-data {
    font-family: 'Didact Gothic', sans-serif;
}

.signin-form .signin-form-data input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}