html,
body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
}

.signup-form {
    background-color: #F7F1F9;
    height: 100%;
}

.signup-form .signup-heading {
    margin: 0;
    padding: 15px 0;
    font-family: 'Big Shoulders Stencil Text', cursive;
}

.signup-form .signup-form-data {
    font-family: 'Didact Gothic', sans-serif;
}

.signup-form .signup-form-data input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-top: 10px;
}